$font-family: 'Montserrat', verdana;
$body-font-size: 1rem;
$main-bloc-width: 80%;
$background-image: '../img/bck-pattern.jpg';
$background-repeat: repeat;
$link-color: #66AF12;
$black: #121212;
$medium-grey: #333333;
$white: #FFFFFF;
$grey: #DDDDDD;
$grey-dark: #999999;
$list-background-color: rgba(0, 0, 0, 0.1);
$list-style-type: square;
$bloc-margin: 10px 0 20px 10px;
$border-radius: 3px;
// variable declaration end
