@import 'variables';
@import 'modal';

* {
	box-sizing: border-box;
};

body {
	font-family: $font-family;
	font-size: $body-font-size;
	background-image: url($background-image);
	background-repeat: $background-repeat;
}

header {
	h1 {
		font-family: 'Barlow', sans-serif;
		display: inline-block;
		vertical-align: middle;
		width: 80%;
		padding: 0 25px;
		line-height: 0.75;
		font-size: 2.5rem;
		small {
			font-size: 1.3rem;
			a {
				text-decoration: none;
			}
		}
	}
}

h2 {
	font-family: 'Barlow', sans-serif;
	font-size: 2rem;
	width: 90%;
	margin: 20px 0 10px 15px;
	position: relative;
}

h3 {
	font-size: 1.6rem;
	font-family: 'Barlow', sans-serif;
	width: 90%;
	color: $medium-grey;
	margin: 10px 0 0 15px;
	line-height: 0.9;
	&.indent {
		margin: 10px 0 0 40px;
	}
	a {
		font-size: 1.2rem;
	}
	small {
		font-size: 1rem;
		padding-left: 10px;
		font-family: $font-family;
	}
}
.card {
	background-color: $list-background-color;
	position: relative;
	margin: 20px 0 0 15px;
	h3 {
		position: absolute;
		right: 10px;
		top: 0;
		display: inline-block;
		width: auto;
		color: #BBB;
		text-shadow: -1px -1px rgba(255, 255, 255, 0.5);
		text-transform: uppercase;
		font-size: 1.8rem;
	}
}
ul {
	display: inline-block;
	width: 100%;
	margin: $bloc-margin;
	padding: 15px 30px;
	list-style-position: inside;
	li {
		list-style-type: $list-style-type;
	}
	&.white {
		background-color: transparent;
		margin: -20px 0 20px 10px;
	}
}

p {
	display: inline-block;
	background-color: transparent;
	width: 90%;
	margin: $bloc-margin;
	padding: 0;
}

a {
	color: $link-color;
	text-decoration: none;
	&.ib {
		display: inline-block;
		vertical-align: middle;
	}
	&:hover {
		color: darken($link-color, 5%);
	}
}

// the main container
.main {
	background-color: rgba(255, 255, 255, 0.9);
	width: $main-bloc-width;
	margin: 20px auto;
	padding: 20px;
}

// not really the half, 
// but if looks like because of the design
.half {
	display: inline-block;
	vertical-align: top;
	width: 48%;
	&.mounted-top {
		margin-top: -455px;
	}
}

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

.me {
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
	width: 20%;
}

.fork-me-github {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}
// --- Btn
.btn {
	width: 100%;
	border-radius: $border-radius;
	&.default {
		background-color: $link-color;
		border: 1px solid darken($link-color, 10%);
		color: $white;
		padding: 5px;
		&:hover {
			background-color: darken($link-color, 5%);
		}
	}
}

