<h2>Experiences</h2>
{{#each items}}
<h3>
	{{this.title}}<br>
	<a href="{{url}}">@{{this.name}}</a><br>
	<small>{{this.place}}, {{date}}</small>
</h3>
<p>{{{this.description}}}</p>
{{#if this.list}}
<ul class="white">
	{{#each this.list}}
	<li>{{{this}}}</li>
	{{/each}}
</ul>
{{/if}}
{{/each}}