{{#if avatar-img}}
<img class="me" src="{{avatar-img}}">
{{/if}}
<h1>
	{{name}}<br>
	<small>
		{{role}}<br>
		<a href="contact.html" class="js_contact-form ib">contact me</a> <a href="{{linked-in-url}}" class="ib"><img src="img/logo-linkedin-48x48.png" /></a>
	</small>
</h1>