<div class="overlay"></div>
<div class="modal-content">
	<div class="close" aria-label="Close this modal box"></div>
	<div class="modal-body">
		<h2>Send me a message</h2>
		<form id="sendmail" action="{{send_url}}" method="post">
			<p class="text-center">
				<input class="init-focus" type="text" name="from-name" placeholder="Your name"></p>
				<p class="text-center">
					<input type="text" name="from-mail" placeholder="Your email">
				</p>
				<p class="text-center">
					<textarea name="message" placeholder="Your message"></textarea>
				</p>
			<div id="g-recaptcha" class="g-recaptcha" data-sitekey="{{recaptcha_key}}"></div>
			<p class="text-right">
				<input class="btn default" type="submit" name="s" value="Send">
			</p>
		</form>
	</div>
</div>